  @media(min-width: 0px) {
      @import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Reem+Kufi+Ink&display=swap");

      * {
          margin: 0;
          padding: 0;
          border: 0;
          list-style: none;
      }

      body {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
      }

      .bi {
          color: white;
          width: 7vw;
          height: 7vh;
          position: absolute;
          position: absolute;
          top: 15px;
          left: 15px;
      }

      .header {
          background-color: #09192f;
          width: 100vw;
          height: 60vh;
          margin: 0 auto;
          color: #64ffda;
      }

      h1,
      p {
          position: relative;
          top: 50px;
      }

      h1 {
          font-size: 50px;
      }

      p {
          font-size: 25px;
          margin-top: 10px;
      }

      a:visited {
          color: #3c9369;
      }

      a {
          text-decoration: none;
          display: contents;
      }

      .card {
          width: 65vw;
          height: 50vh;
          background-color: white;
          border: solid black;
          position: relative;
          bottom: 60px;
          margin: 0 auto;
          border-radius: 20px;
          box-shadow: 10px 10px currentColor;
          margin-bottom: 50px;
      }

      .paragrafo-imagem {
          font-size: 25px;
          color: black;
          position: relative;
          top: 10px;
      }

      .imagem-card {
          width: 50vw;
          height: 35vh;
          margin: 0 auto;
          position: relative;
          top: 40px;
      }

      .card:hover {
          width: 67vw;
          height: 52vh;
          box-shadow: 10px 10px #3c9369;
      }

  }

  @media(min-width: 768px) {

      .card {
          width: 35vw;
          bottom: 160px;
      }

      .card-imc,
      .card-trabalhando-nisso {
          left: 200px;
      }

      .card-barbearia {
          right: 150px;
          bottom: 250px;
      }

      .card-trabalhando-nisso {
          bottom: 350px;
      }

      .imagem-card {
          width: 30vw;
      }

      .card:hover {
          width: 37vw;
      }
  }

  @media(min-width: 900px) {

      h1 {
          font-size: 70px;
          right: 315px;
      }

      .paragrafo-principal {
          font-size: 30px;
          right: 170px;
      }

      .card {
          width: 20vw;
          left: 430px;
          bottom: 120px;

      }

      .imagem-card {
          width: 20vw;
          height: 35vh;
          top: 15px;
          position: relative;
      }

      .card-barbearia {
          bottom: 280px;
          left: 60px;
      }

      .card-trabalhando-nisso {
          bottom: 400px;
      }

      .card:hover {
          width: 21vw;
          height: 51vh;

      }
  }